.container {
    display: flex;
    justify-content: center;
    align-items: center;

    .space {
        border-radius: 8px;
        text-align: center;
        flex: 50%;
        padding: 5px;
    }
}

.have {
    background: linear-gradient(to bottom right, #33ff63b4, #1dbf23, #04b946);
    margin: 5px 6px 5px 12px;
}

.given {
    background: linear-gradient(to bottom right, #ff3333, #ff2929, #ff0303);
    margin: 5px 12px 5px 6px;
}


