<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center"> Daily Finance </ion-title>
  </ion-toolbar>
</ion-header>

<ion-fab
  (click)="addNewUser()"
  class="add-fab"
  slot="fixed"
  horizontal="end"
  vertical="bottom"
>
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="daily" href="/daily">
      <ion-icon aria-hidden="true" name="time"></ion-icon>
      <ion-label>Daily</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home" href="/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stats" href="/stats">
      <ion-icon aria-hidden="true" name="stats-chart"></ion-icon>
      <ion-label>Stats</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
